{% extends "layout.html" %}

{% block navitems %}´
<li class="nav-item">
    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
</li>
<li class="nav-item active">
    <a href="{{ url_for('register') }}" class="nav-link">Register</a>
</li>
{% endblock %}

{% block content %}

<div class="container mt-5">
    {% if errors %}
    <div class="row pt-5">
        <div class="col align-self-center">
            <div class="alert alert-danger" role="alert">
                {{message}}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class ="col">
            <div class="card text-white bg-dark mt-4">
                <div class="card-body">
                    <form action="/register" method="post">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="inputUsername">Username</label>
                                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail1">Email</label>
                                <input type="email" class="form-control" id="inputEmail1" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail2">Confirm Email</label>
                                <input type="email" class="form-control" id="inputEmail2" name="confirm_email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword1">Password</label>
                                <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword2">Confirm Password</label>
                                <input type="password" class="form-control" id="inputPassword2" name="confirm_password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstName">First name</label>
                            <input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label for="inputLastName">Last name</label>
                            <input type="text" class="form-control" id="inputLastName" name="last_name" placeholder="Last name">
                        </div>
                        <button type="submit" class="btn btn-secondary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}